<template>
    
    <div >    
        <lightning-card title="Feedback">
        <div class="slds-p-around_small">
            <template if:true = {recordTypeId} >
                <lightning-combobox name="recordType" label="" placeholder="Choose Type"
                    value={defaultrectype} options={recordTypeId} onchange={changeHandler}>
                </lightning-combobox>
            </template>
            <br/>
            <template if:true = {categoryValues}>
                <lightning-combobox name="Category" 
                    label="Category"  placeholder="Select Category"
                    options={categoryValues} onchange={handleCategoryChange} value={selectedCategoryValue}>
                </lightning-combobox>
            </template>
            <br/>
            <template if:true = {subcategoryValues}>
                <lightning-combobox name="Sub-Category" 
                    label="Sub-Category"  placeholder="Select Sub-Category"
                    options={subcategoryValues} onchange={handleSubCategoryChange} value ={selectedSubcategoryValue}>
                </lightning-combobox>

                <br/>
                <lightning-record-edit-form object-api-name="Case">
                    <lightning-input-field field-name="Woil_Description__c" onchange={handleDescChange}>
                    </lightning-input-field>
                </lightning-record-edit-form>
                <br/>
                <lightning-file-upload
            label="Attach"
            name="fileUploader"
            accept={acceptedFormats}
            record-id={recordId}
            onuploadfinished={handleUploadFinished}
            multiple>
    </lightning-file-upload>

                <br/>    
                <lightning-button variant="brand"
                label="Submit"
                onclick = {createRecord}
                class="slds-m-left_x-small"></lightning-button>
                
                <lightning-button variant="neutral"
                label="Cancel"
                title="Cancel"
                type="text"
                onclick={handleCancel}
                class="slds-m-right_small"></lightning-button>
            </template>
            </div>
    </lightning-card>
</div>

</template>