<template>
    <div class="slds-align_absolute-center">
        <div class="slds-grid slds-gutters">
            <div class="slds-col">
                <template if:true = {recordTypeId} >
                    <lightning-combobox name="recordType" label="Division" placeholder="Choose Type"
                        value={defaultrectype} options={recordTypeId} onchange={changeHandler}>
                    </lightning-combobox>
                </template>
            </div>
            <div class="slds-col" >
                
                    <lightning-combobox name="Prodcut Category" 
                        label="Product Category"  placeholder="Select Product Category"
                        options={categoryValues} onchange={handleCategoryChange} value={selectedCategoryValue}>
                    </lightning-combobox>
                
            </div>
        </div>
    </div>
    
</template>