<template>
    
    <template if:true={accList}>
        <h1> <b>Material code SellOut history:</b></h1>
        <lightning-datatable data={accList} columns={columns} key-field="Id" hide-checkbox-column="true">
        </lightning-datatable>
    </template>
    <template if:true={error}>
        <div class="slds-align_absolute-center"><h3> <b>{error}</b></h3></div>
    </template>
</template>