.THIS {
}
.THIS .left-align {
    text-align: left;
}
.THIS .right-align {
    align: right;
}
.THIS .border
{border-style: inset;

}
.THIS.slds-modal__container{
 max-width: 70px !important;
 width:70px !important;
}
.THIS.slds-spinner_container {  
  z-index: 10000;
  position: fixed;   
}