<template>
  <div class="slds-align_absolute-center">
  <div class="slds-grid slds-gutters">
    <div class="slds-col slds-m-top_xx-small">
      Material Code
      <select class="slds-select" onchange={selectOptionChanveValue} >
        <option value="">---None---</option>                
          <template for:each={selectTargetValues.data} for:item="selectOptItem">
             <option key={selectOptItem.custFldvalue} value={selectOptItem.custFldvalue}>
               {selectOptItem.custFldlabel}
             </option>
        </template>
  </select>
    </div>
    <div class="slds-col" >
      <lightning-input label="Serial Number" value={name} onchange={nameChange}></lightning-input>
    </div>
    <div class="slds-col slds-m-top_large" >
      <lightning-button variant="brand"
                label="Add"
                onclick = {addRecord}
                class="slds-m-left_x-small"></lightning-button>
    </div>
    <template if:true={dataWrapValue}>
      <template for:each={dataWrapValue} for:item="wrapper">
          <p key={wrapper.materialCode}>{wrapper.materialCode}</p>
      </template>
  </template>
  <template if:true={error}>
      {error}
  </template>

  </div>
</div>
  <br/>
         <b>Selected Picklist Value Is:-</b> <span style="color:brown; font-weight:bold;"> {picklistVal}</span>
         <b>Serial Number Value Is:-</b> <span style="color:brown; font-weight:bold;"> {name}</span>
</template>