<template>
    <lightning-layout horizontal-align='space' >
        <lightning-layout-item flexibility="auto" padding="around-small">
        <div class="slds-form-element">
            
            <!--input type="text" id="text-input-id-1" placeholder="" onchange={handleSearchValue} required="" class="slds-input" /-->
            <lightning-input type="text" label="GST/PAN *" onchange={handleSearchValue} required="" class="slds-m-left_medium"></lightning-input>    
        </div>
           
        </lightning-layout-item>
        <lightning-layout-item flexibility="auto" padding="around-small">
        <button class="slds-button slds-button_brand" onclick={handleGetOutlets}>Search</button>
    </lightning-layout-item>
    <lightning-layout-item flexibility="auto" padding="around-small">
        <button class="slds-button slds-button_brand">Create New</button>
    </lightning-layout-item>
    </lightning-layout>
    
</br></br>
<lightning-card title="Search Results" icon-name="standard:record">

    <table class="slds-table slds-table_cell-buffer slds-table_bordered">
    <thead>
        <template if:true ={checkButtonVisibility}>
                <div>
                    <lightning-button label="Back" title="Non-primary action" onclick={handleBack} class="slds-m-left_x-small"></lightning-button>
                </div>
        </template>
    <tr class="slds-line-height_reset">
        
        <th class="" scope="col">
            <div class="slds-truncate" title="Name">Outlet Name</div>
        </th>
        
        <th class="" scope="col">
            <div class="slds-truncate" title="First Name">Outlet Code</div>
        </th>
       
        <th class="" scope="col">
            <div class="slds-truncate" title="Email">Pin Code</div>
        </th>
        <th class="" scope="col">
            <div class="slds-truncate" title="Email">City</div>
        </th>
        <th class="" scope="col">
            <div class="slds-truncate" title="Email">State</div>
        </th>
      
        
        
        
    </tr>
</thead>
<tbody>
    <template for:each={outletList} for:item="lstObj" >
        <tr class="slds-line-height_reset" key={lstObj.Id}>
            <th scope="col">
                <div>{lstObj.Name}</div>
            </th>
            <th scope="col">
                <div>{lstObj.WOIL_Code__c}</div>
            </th>
           
            <th scope="col">
                <div>{lstObj.WOIL_Pin_Code__c}</div>
            </th>
            <th scope="col">
                <div>{lstObj.WOIL_City__c}</div>
            </th>
            <th scope="col">
                <div>{lstObj.WOIL_State__c}</div>
            </th>
            
            
            
        </tr>
            
        </template>
        </tbody>
    </table>
    </lightning-card ></br></br>
    <lightning-layout horizontal-align='center' >
    <lightning-card>
        <lightning-record-edit-form object-api-name="WOIL_Outlet_Request__c" density="comfy">
        <lightning-messages>
        </lightning-messages>
        <lightning-layout horizontal-align='space' >
            <lightning-layout-item flexibility="auto" padding="around-small">
        <lightning-input-field field-name="WOIL_Outlet_Name__c" onchange={handleFieldChange}>
        </lightning-input-field></lightning-layout-item>
        
        
        <lightning-layout-item flexibility="auto" padding="around-small">
            <lightning-input-field field-name="WOIL_Pin_Code__c" onchange={handleFieldChange}>
            </lightning-input-field>
        </lightning-layout-item>
       
        <lightning-layout-item flexibility="auto" padding="around-small">
            <lightning-input-field field-name="WOIL_City__c" onchange={handleFieldChange}>
            </lightning-input-field>
        </lightning-layout-item>
        
    </lightning-layout>
        
    <lightning-layout horizontal-align='space' >
        <lightning-layout-item flexibility="auto">
        <lightning-input-field field-name="WOIL_State__c" onchange={handleFieldChange}>
        </lightning-input-field>
        </lightning-layout-item>
        
        
       
        
       
        </lightning-layout>
        <lightning-layout horizontal-align='center'>
            <lightning-layout-item  >
        <lightning-button class="slds-m-top_small"
                          variant="brand"
                          name="save"
                          label="Save"
                          onclick={upsertOutlet}
                          >
        </lightning-button>&nbsp;&nbsp;&nbsp;&nbsp;
        </lightning-layout-item>
        <lightning-layout-item  >
            <lightning-button class="slds-m-top_small"
                              variant="brand"
                              name="Reset"
                              label="Reset"
                              onclick={handleReset}>
            </lightning-button>
            </lightning-layout-item>
       
    </lightning-layout>
    </lightning-record-edit-form>
</lightning-card>

    <!--lightning-card title="OutLet Information" icon-name="standard:record">
        <lightning-layout horizontal-align='space'>
            <lightning-layout-item flexibility="auto" padding="around-small">
                <lightning-input label="Outlet Name" ></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item flexibility="auto" padding="around-small">
            <lightning-input label="PAN"  class="slds-m-left_medium" ></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item flexibility="auto" padding="around-small">
            <lightning-input label="GST"  class="slds-m-left_medium"></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item flexibility="auto" padding="around-small">
            <lightning-input label="Pin Code"  class="slds-m-left_medium"></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item flexibility="auto" padding="around-small">
            <lightning-input label="City"  class="slds-m-left_medium"></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item flexibility="auto" padding="around-small">
            <lightning-input label="State"   class="slds-m-left_medium"></lightning-input>
            </lightning-layout-item>
        </lightning-layout>
        <lightning-layout>
            <lightning-layout-item flexibility="auto" padding="around-small">
            
            
                <template if:true={TypePicklistValues.data}>
                    <lightning-combobox name="progress" label="Outlet Category" value={value}
                        options={TypePicklistValues.data.values} onchange={handleChange}>
                    </lightning-combobox>
                </template>
            
            </lightning-layout-item>
            <lightning-layout-item flexibility="auto" padding="around-large">
            <lightning-input label="Is Retail Outlet" type="checkbox" class="slds-m-left_medium"></lightning-input>
            </lightning-layout-item>
            
                <lightning-layout-item flexibility="auto" padding="around-small">    
            <lightning-input label="Contact Person"   class="slds-m-left_medium"></lightning-input>
            </lightning-layout-item>
            <lightning-layout-item flexibility="auto" padding="around-small">
            <lightning-input label="Mobile Number"  type="number" class="slds-m-left_medium"></lightning-input>
            </lightning-layout-item>
        </lightning-layout>
        <lightning-layout horizontal-align='space'>
            <lightning-button label="Submit" variant="brand" onclick={createAccount}></lightning-button>

        </lightning-layout>
        </lightning-card-->
    </lightning-layout>
</template>